.para{
    color: rgb(0, 0, 0);
    text-align: justify;
    border: 2px solid black;
    background-color: antiquewhite;
    width: 50%;
    padding: 8px;
    /* overflow: scroll; */
    margin: 10px;

}
.heading{
    margin: 10px;
    padding: 6px;
    border: 2px dotted;
    width: 200px;
    height: 30px;
}