.container{
    display: flex;
    flex-direction: column;
}
p{
    padding: 10px;
    }
.para1{
    background-color: antiquewhite;
    flex: 2;
    order: 3;
}
.para2{
    background-color: aqua;
    flex: 1;
    order: 1;
}
.para3{
    background-color: aquamarine;
    flex: 1;
}