p{
    text-align: justify;
    float: left;
    width: 20%;
    padding: 10px;
}
.bluebox{
    background-color: rgb(129, 176, 239);
    height: 100px;
    width: 100px;
    text-align: center;
    margin: 10px;
    position: absolute;
    /* left: 50px; */
}
.redbox{
    background-color: rgb(214, 93, 93);
    height: 100px;
    width: 100px;
    text-align: center;
    margin: 10px;
    position: fixed;
    left: 250px;
}
.yellowbox{
    background-color: rgb(235, 235, 100);
    height: 100px;
    width: 100px;
    text-align: center;
    margin: 10px;
    left: 100px;
    /* bottom: 110px; */
    position: relative;
}
.orangebox{
    top: 20px;
    position: sticky;
    background-color: rgb(255, 216, 142);
    height: 100px;
    width: 100px;
    text-align: center;
    margin: 10px;
}